<% provide :title, t("layouts.header.home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info entry_form">
        <h1>
          <%= gravatar_for current_user %>
          <%= current_user.name.upcase %>
        </h1>
      </section>
      <section class="stats">
        <%= render "shared/stats" %>
      </section>
    </aside>
    <div class="btn-group btn-group-justified" role="group" saria-label="">
      <%= link_to t("static_pages.home.btn.word"), words_path,
        class: "btn btn-danger" %>
      <%= link_to t("static_pages.home.btn.lesson"), categories_path,
        class: "btn btn-success" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="panel panel-info">
      <div class="panel-heading"> <h4 class="text-center"> <%= link_to current_user.name,current_user %>
        <%= t "static_pages.home.activity" %> </h4>
      </div>
      <div class="panel-body">
        <%= render @activities if @activities.any? %>
        <%= will_paginate @activities %>
      </div>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t ".welcome" %></h1>
    <h2>
      <%= t "static_pages.home.promotion" %>
      <br> <br>
      <%= t "static_pages.home.or" %>
      <%= link_to t(".sign_up"), new_user_path %>
      <%= t "static_pages.home.create_account_free" %>
    </h2>
  </div>
<% end %>
