<p>
  <%= form_for @lesson do |f| %>
    <%= f.hidden_field :solved, value: true %>
  <%= f.fields_for :results do |result| %>
    <%= render "word_form", f: result %>
  <% end %>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <%= f.submit t("submit"), class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</p>
