<% provide :title, t("admin.category.title") %>
<div class="row">
  <%= render "layouts/sidebar" %>
  <h2 class="h2_title">
    <%= t "admin.category.title" %>
    <%= link_to t("admin.category.add.btn"), new_admin_category_path,
      class: "btn btn-primary" %>
  </h2>
  <%= render @categories %>
  <div class="col-md-offset-3 col-md-7">
    <%= will_paginate %>
  </div>
</div>
