<div class="col-md-3"></div>
<div class="col-md-7">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>
        <b><%= link_to category.name, category %></b>
        <small>
          (<%= t "category.index.word_learned_title" %>
          <%= category.words.learned(current_user.id).count %>/
          <%= pluralize category.words.count, t("category.index.word") %>)
        </small>
      </h4>
    </div>
    <div class="panel-body">
      <%= category.name %>
      <% if logged_in? %>
        <%= form_for @lesson do |f| %>
          <%= f.hidden_field :category_id, value: category.id %>
          <%= f.submit t("start"), class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
