<p>
  <%= link_to activity.user.name, activity.user  %>
  <%= t "activity.#{activity.action_type}" %>
  <% case activity.action_type %>
    <% when Settings.activity.follow, Settings.activity.unfollow %>
      <%= link_to activity.action_object_name(User).name, activity.action_object_name(User) %>
    <% when Settings.activity.learned %>
      <%= activity.action_object_name(Lesson).words_correct %>
      <%= t "words" %> <%= t "in" %>
      <%= link_to "#{t("lesson")} #{activity.action_object_name(Lesson).id}",
        activity.action_object_name(Lesson) %>
      <%= t "from" %> <%= link_to activity.action_object_name(Lesson).category.name,
        activity.action_object_name(Lesson).category %>
    <% when Settings.activity.learning %>
      <%= link_to "#{t("lesson")} #{activity.action_object_name(Lesson).id}",
        activity.action_object_name(Lesson) %>
      <%= t "from" %> <%= link_to activity.action_object_name(Lesson).category.name,
        activity.action_object_name(Lesson).category %>
  <% end %>
  (<%= time_ago_in_words activity.created_at %> <%= t "ago" %>.)
</p>
